<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="views/assets/sinal-de-aviso.ico"
    />
    <title>500 — Internal Server Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="min-h-screen flex items-center justify-center bg-gray-900 text-white"
  >
    <div class="text-center">
      <h1 class="text-7xl font-bold text-red-500">500</h1>
      <p class="mt-4 text-lg">
        Ocorreu um erro interno ao tentar concluir a ação
      </p>
      <a
        href="/"
        class="mt-6 inline-block px-6 py-3 bg-gray-600 hover:bg-gray-700 rounded-lg text-white font-medium"
        >Voltar para a página inicial</a
      >
    </div>
  </body>
</html>
